.first-navbar {
  background-color: #333;
}

.first-navbar ul li a span {
  color: #fff;
  padding-right: 2em;
}

.first-navbar ul li a span:hover {
  text-decoration: underline;
}

.first-navbar ul li a i {
  color: #fff;
  padding-right: 0.5em;
}

.first-navbar ul.first-right-side li a {
  color: #fff;
  padding-right: 2em;
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
} 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.second-navbar {
  background-color: rgb(255, 255, 255);
}

.second-navbar ul li a{
  font-size: 1.5em;
  color: #333;
  margin-left: 20px;
}

.second-navbar ul li.active a{
  color: rgb(224, 24, 24);
}

.custom-toggler2.navbar-toggler {
  border-color: #333;
} 
.custom-toggler2 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.block-of-icons li{
  display: inline-block;
}

.home-image img {
  width: 100%;
  height: auto;
}

#footer{
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  background: #333;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

hr{
  border: 1;
  height: 1px;
  background-image: linear-gradient(180deg, rgba(240, 21, 21, 0), rgba(240, 21, 21, 0.75) rgba(0, 0, 0, 0));
  width: 20%;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card .register-banner {
  width: 100%;
  height: 80%;
}

ul.dropdown-menu{
  background-color: #138496;
}

.dropdown-menu li a{
  color: #fff;
}

.dropdown-menu li a:hover{
  background-color: #fff;
  color: #333;
}

.divideElement { 
  border-top: 1px solid #8c8b8b;
}

.thumbnail {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 1em;
  //height: 30em;
}

.thumbnail .description {
  color: rgb(78, 64, 64);
}

.thumbnail img {
  max-height: 15em;
  max-width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-images.card {
  width: 15em;
  height: 28em;
  margin-top: 1em;
  margin-left: 4em;
  margin-right: 1em;
}

.row-images img {
  max-height: 20em;
}

.row-products.card {
  width: 15em;
  height: 28em;
  margin-top: 1em;
  margin-left: 4em;
  margin-right: 1em;
  display: inline-block;
}

.row-products img {
  max-height: 20em;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  //transform: scale(1, 1.3);
  //transition-duration: 0.5s;
  opacity: 0.5;
}

.price {
  font-size: 1.2em;
}

.caption a {
  color: black;
}

.caption a:hover {
  color: #138496;
  text-decoration: none;
}

.show-more {
  text-decoration: underline;
}

.show-more:hover {
  color:black;
}

.container-fluid.no-padding {
  width: 100%;
  height: 40em;
}

.container-fluid.no-padding img {
  width: 100%;
  height: 40em;

}

.contact-img {
  margin-top: 2em;
}

.person {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-top: 5%;
}

.person img {
  height: 20em;
}

.dropdown-menu {
  background-color: #333;
  position: relative;
  z-index: 9999;
}

.dropdown-menu a:hover {
  background-color: rgb(172, 60, 60);
  color: green;
}

.dropdown-menu.size {
  background-color: #fff;
}

.dropdown-menu.size a:hover {
  background-color: rgb(3, 3, 3);
  color: #fff;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.target {
  width: 5em;
}

.targetColors {
  width: 7em;
}

.custom-font {
  font-family: "new century schoolbook";
}

@media screen and (max-width: 770px) {

  .first-navbar ul.first-right-side li {
    padding-top: 0.5em;
  }

  .row-images.card {
    margin-left: 4em;
    margin-right: 4em;  
  }

  .zoom:hover {
    transform: scale(1, 1);
  }
}